{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="static/css/weather.css">

<div class = "font-color" id="current-time"></div>

<header class="header">
    <div class="header-left">
        <img class="weather-icon-large" src="static/assets/Images/rain.png" data-current-icon>
        <div class="header-current-temp">
            <span data-current-temp class="font-color">{{ current_temperature }}</span><span class="font-color">&deg;</span>
        </div>
    </div>
    <div class="header-right">
        <div class="info-group">
            <div class="label">Temp</div>
            <div><span data-current-temp class="font-color">{{ current_temperature }}</span><span class="font-color">&deg;</span></div>
        </div>

        <div class="info-group">
            <div class="label">Precip</div>
            <div>
                <span data-current-precip class="font-color">{{ current_precipitation }}</span>
                <span class="font-color">in</span>
            </div>
        </div>

        <div class="info-group">
            <div class="label">Wind</div>
            <div>
                <span data-current-wind class="font-color">{{ current_windspeed }}</span>
                <span class="font-color">mph</span>
            </div>
        </div>

        <div class="info-group">
            <div class="label">Wind Gust</div>
            <div>
                <span data-current-wind-gust class="font-color">{{ current_windgusts }}</span>
                <span class="font-color"> mph</span>
            </div>
        </div>

        <div class="info-group">
            <div class="label">Relative Humidity</div>
            <div><span data-current-humid class="font-color">{{ current_relative_humidity }}</span><span class= "font-color">&percnt;</span></div>
        </div>

        <div class="info-group">
            <div class="label">Surface Pressure</div>
            <div>
                <span data-current-pressure class="font-color">{{ hourly_surface_pressure }}</span>
                <span class="font-color"> bar</span>
            </div>
        </div>

        <div class="info-group">
            <div class="label">Soil Temp</div>
            <div>
                <span data-current-soil-temp class="font-color">{{ hourly_soiltemp }}</span><span class="font-color">&deg;</span>
            </div>
        </div>

        <div class="info-group">
            <div class="label">Surface Moisture</div>
            <div>
                <span data-current-surface-moisture class="font-color">{{ current_soil_moisture }}</span> <span class="font-color">&percnt;</span>;
            </div>
        </div>
    </div>
</header>

<table id="hourly-data"></table>
<form method="post" action="{{ url_for('showWeather') }}" class="weather-form">
    <label for="latitude"></label>
    <input type="text" id="latitude" name="latitude" placeholder="Latitude" required>

    <label for="longitude"></label>
    <input type="text" id="longitude" name="longitude" placeholder="Longitude" required>

    <button type="submit">Get Weather</button>
</form>



<template id="hour-row-template">
    <tr class="hour-row">
        <td>
            <div class="info-group">
                <div class="label" data-day></div>
                <div data-time class="font-color">{{time}}</div>
            </div>
        </td>
        <td>
            <img data-icon class="weather.icon" />
        </td>        
        <td>
            <div class="info-group">
                <div class="label">Temp</div>
                <div>
                    <span data-temp-low class="font-color">{{temperature_2m}}</span><span class="font-color">&deg;</span>
                </div>
            </div>
        </td>
        <td>
            <div class="info-group">
                <div class="label">Precip</div>
                <div>
                    <span data-precip class="font-color">{{precipitation}}</span><span class="font-color"> in</span>
                </div>
            </div>
        </td>
        <td>
            <div class="info-group">
                <div class="label">Wind</div>
                <div><span data-wind class="font-color">{{windspeed_10m}}</span><span  class="font-color"> mph</span></div>
            </div>
        </td>
    </tr>
</template>

<script>
    var hourly_data_list = {{ hourly_data | tojson | safe }} ;
</script>

{% endblock %}